* {
  font-family: "Fira Code";
  font-size: large;
  font-weight: 600;
  box-sizing: border-box;
}

body {
  background-color: powderblue;
}

.structogram {
  background-color: snow;
  margin: auto;
  padding: 3em;
  margin-top: 5em;
  width: 800px;
}

.structogram > * {
  overflow: hidden;
}

.structogram > :last-child {
  border-width: 0.2em;
}
/* 
.structogram > div[data-process] {
  border-right-width: 0.15em;
}

.structogram > div[data-loop] {
  border-right-width: 0.15em;
}

div[data-process] {
  padding: 0.75em;
  border-width: 0.15em;
  border-right-width: 0;
  border-bottom-width: 0;
  border-color: black;
  border-style: solid;
}

.structogram > :first-child {
  border-width: 0.15em;
  border-bottom: 0;
}

.structogram > :last-child {
  border-width: 0.15em;
}

.branch-switch {
  padding: 0.75em;
  padding-bottom: 0;
  padding-right: 0;

  border-width: 0.15em;
  border-right-width: 0;
  border-bottom-width: 0;
  border-color: black;
  border-style: solid;
}

.branch-switch > .branch-case {
  margin-top: 0.75em;
  margin-left: 2em;
}

.branch-triangle {
  background-color: red;
}

.branch-switch > .branch-case:not(:last-child) > :last-child {
  border-bottom-width: 0.15em;
}

.structogram > .branch-switch {
  border-right-width: 0.15em;
}

div[data-loop] {
  padding: 0.75em;
  padding-right: 0;

  border-width: 0.15em;
  border-right-width: 0;
  border-bottom: 0;
  border-color: black;
  border-style: solid;
}

div[data-loop] > * {
  margin-left: 2em;
}

div[data-loop="first"] {
  padding-bottom: 0;
}

div[data-loop="first"] > :first-child {
  margin-top: 0.75em;
}

div[data-loop="last"] {
  padding-top: 0;
}

div[data-loop="last"] > :last-child {
  border-top-width: 0;
}

div[data-loop="last"] > :first-child {
  margin-bottom: 0.75em;
  border-bottom-width: 0.15em;
} */
